body {
    background-color: #784441e6;
}
.upsizeyi {
    font-size: 200px;
    margin: 1px;
}
.upsizeer {
    font-size: 3em;
    margin: 1px;
}
.upsizesan {
    font-size: 2em;
}
@keyframes breathe {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}
.weirdahh {
  display: inline-block;
  transform-origin: left center;
  transition: transform 3s ease;
}
.weirdahh:hover {
  animation: breathe 1.5s ease-in-out infinite;
}
.weirdahh:not(:hover) {
    transform: scale(1);
}
}
.smallButMighty { 
    display: inline-block; /* or block */
    transition: transform 0.5s ease;
}
.smallButMighty:hover {
    transform: scale(1.0875)
}
h2 {
    transition: transform 2s ease;
}
h2:hover {
    transform: scale(1.5);
}
a {
    text-decoration: none;
}
