.code-font {
  font-family: 'Courier New', monospace;
}
.button-1 {
  appearance: none;
  background-color: #dcf5ff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #91AED7 -2px -9px 9px 0px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 2.5px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-1:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-1 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
.center {
  text-align: center;
}
.comically-funny {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
img {
  transition: filter 0.3s ease;
}
img:hover {
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.55));
}
